
@media screen and (max-width: 1000px) {
    .HeaderItems {
        position: relative;
    }

    .header-menu {  
        position: absolute;
        top: 75px;
        left: -100%;
        opacity: 1;
    }

    .header-menu.active {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 60%;
        height: 300px;
        background: rgba(0, 0, 0, 0.95);
        left: 0;
        opacity: 1;
        transition: all 1.2s ease;
        z-index: 1;
    }

    .nav-mobile {
        margin: 15px;
    }

    .header-logo {
        display: none;
    }

    .header-logo-text {
        position: absolute;
        top: 0;
        right: 50%;
        transform: translate(25%, 50%);
    }

    .header-icon {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        transform: translate(-100%, 60%);
        font-size: 1.8rem;
        cursor: pointer;
    }

    /* .header-btn {
        position: absolute;
        top: 0;
        left: 20%;
        transform: translate(25%, 50%);
    } */
}